{% extends 'store/main.html' %}

{% block content %}
<div class="container mt-5" style="color: white;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 style="color: white;">Payment Successful</h1>
            <p style="color: white;">Thank you for your purchase! Your order details have been sent to your email address.</p>
            <a href="{% url 'order_details' %}" class="btn btn-secondary mb-2">View Order</a>
        </div>
    </div>
</div>
{% endblock %}
