{% extends 'quora/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	{% if validlink %}
		<h1 class="display-5" style="color: white;">Change Password</h1>
		<hr class="my-4" style="color: white;">
		<form method="POST" style="color: white;">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" class="btn btn-warning mb-2" name="submit" value="Change Password">
		</form>
	{% else %}
		<p style="color: white;">The Password reset link was invalid, possibly because it has alredy been used. Please request a new password reset <a class="align-middle" href="{% url 'password_reset' %}">here</a>.</p>
	{% endif %}
	<br>
	<a href="{% url 'quora:user_login' %}">Log in!</a>
{% endblock %}